.tabheader {
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
  padding: 10px;
}

.tabheaderitem {
  padding: 10px;
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #b5b3b3;
  }

  &.active {
    background-color: #ffffff;
    font-weight: bold;
  }
}

.tabcontent {
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  background-color: #ffffff;
}
