  .buttoncolor {
    background-color: #3f51b5 !important;
    color: #fff !important;
    outline-color: #3f51b5 !important;
    margin: 5px !important;
    border-radius: 5px !important;
    padding: 0 15px !important;
  }

  .container_white {
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    align-items: center;
  }