@import "../../styles/variables.scss";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    height: calc(100vh - 95px);
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    gap: 1rem;
    height: 100%;
}

.container h1 {
    font-size: $b1;
    font-weight: 900;
    color: #3f51b5;
    cursor: pointer;
    margin-top: 1rem;
}

.containergrafico {
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.containervazio {
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.titulovazio{
    margin-bottom: auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.00938em;
    color: inherit;
    fill: rgba(0, 0, 0, 0.87);
}

.titulografico {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.00938em;
    color: inherit;
    fill: rgba(0, 0, 0, 0.87);
}