@import "../../styles/variables.scss";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    gap: 1rem;
}

.container h1 {
    font-size: $b1;
    font-weight: 900;
    color: #3f51b5;
    cursor: pointer;
    margin-top: 1rem;
}
