$black: #000000;
$white: #ffffff;
$gray: #d6d6d6;
$light-gray: #ececec;

$success: #00c851;
$success-dark: #007e33;
$danger: #ff4444;
$danger-dark: #cc0000;
$warning: #ffbb33;
$warning-dark: #ff8800;
$info: #33b5e5;
$info-dark: #0099cc;

$primary: #006dac;
$secundary: #00bbff;
$primary-background: #E5E5E5;
$secundary-background: #f3f3f3;

$primary-linear-gradient: linear-gradient(0.25turn, rgb(2, 252, 135), #00cfa2, rgb(0, 172, 92));

$h1: 84px;
$h2: 72px;
$h3: 60px;
$h4: 48px;
$h5: 36px;
$h6: 30px;
$b1: 28px;
$b2: 24px;
$b3: 16px;
$b4: 14px;
$b5: 10px;