@import "../../styles/variables.scss";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    gap: 1rem;
}

.title {
    font-weight: 300;
    font-size: $b2;
    letter-spacing: 0.2rem;
}

.row_box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
}

.default_option {
    color: gray;
}

.inputs_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs_container a {
    color: var(--black);
}

.input_form {
    width: 100%;
    background-color: var(--white);
    border-color: none;
    color: var(--black);
    border: none;
    outline: none;
    height: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
}

.input_form_disable {
    width: 100%;
    background-color: var(--white);
    border-color: none;
    color: gray;
    border: none;
    outline: none;
    height: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
}

.select_box {
    width: 100%;
    background-color: var(--white);
    border-color: none;
    color: var(--black);
    border: none;
    outline: none;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    text-align: top;
    align-items: top;
}

.input_form_text_area {
    width: 100%;
    background-color: var(--white);
    border-color: none;
    color: var(--black);
    border: none;
    outline: none;
    height: 8rem;
    padding: 1rem;
    border-radius: 0.2rem;
    text-align: top;
    align-items: top;
    resize: none;
}

h3 {
    font-size: $b3;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.field_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
}

.field_box_2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
    gap: 1rem;
}

.radio_box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    gap: 1rem;
    align-items: left;
    text-align: left;
}

.radio_box label {
    display: flex;
    gap: 0.5rem;
}

.field_box p {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #525252;
}

.field_box_2 p {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #525252;
}

.input_box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 5px
}

.input_box > span {
    position: absolute;
    font-size: 0.8rem;
    width: 100%;
    text-align: right;
    align-items: top;
    padding-right: 1rem;
}

.field_box h2 {
    font-size: $b3;
    font-weight: 400;
    margin: 0px 0px 3px 0px;
}

.term_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}