@import '../../styles/variables.scss';

.w100 {
  width: 100%;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6;
  padding: 0.4rem;
  gap: 0.4rem;
}

.middle {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.margin_top {
  margin-top: 1em;
}

.button {
  margin-top: 1em;
  width: 100%;
}

.container_white {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.justify_end {
  justify-content: flex-end;
}

.margin_inline {
  margin-inline: 10px;
}

.buttonColor {
  background-color: #3f51b5 !important;
  color: #fff !important;
  outline-color: #3f51b5 !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  width: 100%;
}

.textField {
  width: 100%;
  margin: 8px !important;
}

.containerForm {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 16px;
}
