
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    gap: 1rem;
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #3f51b5;
    cursor: pointer;
    margin-top: 1rem;
  }

  .button_box {
    margin-top: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    width: 100%;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    width: 90%;
  }