@import "../../styles/variables.scss";

.container {
    position: relative;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.container h2 {
    font-size: $b4;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

@media (min-width: 960px) {
    .container {
        height: 70px;
    }
    .container h2 {
        font-size: $b4;
    }
}
