@import "../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  gap: 1rem;
}

.title {
  font-size: $b1;
  font-weight: 900;
  color: #3f51b5;
  cursor: pointer;
  margin-top: 1rem;
}

.sub_title {
  font-weight: 300;
  font-size: $b2;
  letter-spacing: 0.2rem;
}

.history_box {
  background-color: #f3f3f3;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.text_box {
  font-weight: 400;
  font-size: $b3;
}

.content_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
  align-items: center;
  width: 80%;
}

.title {
  font-weight: 300;
  font-size: $b2;
  letter-spacing: 0.2rem;
}

.row_box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: end;
}

.inputs_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs_container a {
  color: var(--black);
}

.input_form {
  width: 100%;
  background-color: var(--white);
  border-color: none;
  color: var(--black);
  border: none;
  outline: none;
  height: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
}

.input_form_text_area {
  width: 100%;
  background-color: var(--white);
  border-color: none;
  color: var(--black);
  border: none;
  outline: none;
  height: 8rem;
  padding: 1rem;
  border-radius: 0.2rem;
  text-align: top;
  align-items: top;
  resize: none;
}

.radio_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row_box > div {
  align-items: start;
  text-align: start;
  justify-content: start;
}

.sub_title {
  font-size: $b3;
}

.radio_box > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.radio_box > div > label {
  display: flex;
  gap: 0.5rem;
}

.field_box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  width: 100%;
}

.field_box p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #525252;
}

.input_box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  border: 1px solid #d1d1d1;
  border-radius: 5px
}

.input_box > span {
  position: absolute;
  font-size: 0.8rem;
  width: 100%;
  text-align: right;
  align-items: top;
  padding-right: 1rem;
}

.field_box h2 {
  font-size: $b3;
  font-weight: 400;
  margin: 0px 0px 3px 0px;
}

.tableAdmin {
  border: 1px solid --gray-300;
  border-radius: 5px;
  background-color: --gray-100;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.5;
  
  thead {
    background-color: --gray-200;
    text-align: left;
  }

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid --gray-300;
  }

  tbody tr:nth-child(even) {
    background-color: --gray-50;
  }

  td button.select-button {
    padding: 0.5rem 1rem;
    background-color: --primary-color;
    color: --white-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}