@import "../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  gap: 1rem;
}

.title {
  font-size: $b1;
  font-weight: 900;
  color: #3f51b5;
  cursor: pointer;
  margin-top: 1rem;
}

.sub_title {
  font-weight: 300;
  font-size: $b2;
  letter-spacing: 0.2rem;
}

.history_box {
  background-color: #f3f3f3;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
}

.text_box {
  font-weight: 400;
  font-size: $b3;
}

.content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
  align-items: center;
  width: 100%;

}

.all_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.dropdown {
  display: flex;
  width: 100%;
  padding: 1rem 0rem;
  border-top: 1px solid black;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: left;
  gap: 1rem;
  width: 100%;
}

.dropwdown_inside {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}