.drawer{
    width: 380px !important;
}

.box_filtro{
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.title{
    padding: 10px 20px;
}

.filtro_subtitle{
    margin-bottom: 10px;
}

.item li{
    padding: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}