@import '../../styles/variables.scss';

	.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: $primary;
    min-height: 100vh;
  }

	.modal_content {
		display: flex;
    flex-direction: column;
    gap: 1rem;
		background: $white;
		border-radius: 12px;
		width: 100%;
		max-width: 480px;
		padding: 32px 24px;
		height: 60%;
		min-height: 42vh;
	}

	.modal_header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

  .title {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }

  .row_box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
  }

  .inputs_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

	.form_footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: 8px;
		margin-top: auto;
	}

  .inputs_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
		// background: $white;
		// border-radius: 12px;
		// width: 100%;
		// max-width: 480px;
		// padding: 32px 24px;
		// height: 100%;
		// min-height: 100vh;
  }

  .inputs_container a {
    color: var(--black);
  }

  .input_form {
    width: 100%;
    background-color: var(--white);
    border-color: none;
    color: var(--black);
    border: none;
    outline: none;
    height: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
  }

  .sub_title {
    font-size: 1rem;
  }

  .field_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
  }

  .field_box p {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #525252;
  }

  .input_box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 5px
  }

  .input_box > span {
    position: absolute;
    font-size: 0.8rem;
    width: 100%;
    text-align: right;
    align-items: top;
    padding-right: 1rem;
  }

  .field_box h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 0px 3px 0px;
  }