.container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6;
  padding: 0.4rem;
  gap: 0.4rem;
}

.middle {
  display: flex;
  width: 100%;
  flex-direction: column;
}
